<template>
  <div id="add-blog">
    <h2>Add a New Blog Post</h2>

    <form v-show="!submitted">
      <label>Blog Title: </label>
      <input type="text" v-model.lazy="blog.title" required />
      <label>Blog Content:</label>
      <textarea v-model.lazy="blog.content"></textarea>


      <div id="checkboxes">
        <label>Ninjas</label>
        <input type="checkbox" v-model="blog.categories" value="ninjas" />
        <label>Wizards</label>
        <input type="checkbox" v-model="blog.categories" value="wizards" />
        <label>Mario</label>
        <input type="checkbox" v-model="blog.categories" value="mario" />
        <label>Cheese</label>
        <input type="checkbox" v-model="blog.categories" value="cheese" />


      </div>

      <select v-model="blog.author">
        <option v-for="author in authors" :key="author">
          {{author}}
        </option>
      </select>

      <button @click.prevent="post">Submit</button>
    </form>

    <div v-if="submitted">
      <h3>Thanks for submitting your post.</h3>
    </div>

    <div id="preview">
      <h3>Preview Blog</h3>
      <p>Blog title: {{blog.title}}</p>
      <p>Blog content: {{blog.content}}</p>

      <ul>
        <li v-for="category in blog.categories" :key="category">
          {{category}}
        </li>
      </ul>
      <p>Author: {{blog.author}}</p>

    </div>

  </div>

</template>

<script>
export default{
  data() {
    return {
      submitted: false,
      blog: {
        author:'',
        title: '',
        content: '',
        categories: [],
        quality:''
      },
      authors:['ahmad', 'mahmud', 'gholam'],
      placeHolderLink: 'https://jsonplaceholder.typicode.com/',
      firebaseLink: 'https://vue-first-64231-default-rtdb.asia-southeast1.firebasedatabase.app/posts.json'
    }
  },
  methods: {
    post(){
      // this.$http.post(this.placeHolderLink+'posts', {
      //   userId: 1,
      //   title: this.blog.title,
      //   body: this.blog.content
      // }).then((data) => {
      //   console.log(data);
      //   this.submitted = true;
      // });
      this.$http.post(this.firebaseLink, this.blog).then((data) => {
        console.log(data);
        this.submitted = true;
      });
    }
  },
}

</script>
<style scoped>
  #add-blog *{
    box-sizing: border-box;
  }

  #add-blog{
    margin: 20px auto;
    max-width: 500px;
  }

  label{
    display: block;
    margin: 20px 0 10px;
  }

  input[type="text"], textarea{
    display: block;
    width: 100%;
    padding: 8px;
  }

  #preview{
    padding: 10px 20px;
    margin: 30px 0;
    border: 1px dotted #ccc;
  }

  input[type="checkbox"]{
    display: inline-block;
  }

  #checkboxes label{
    display: inline-block;
  }

</style>
