<template>
<footer>
  <p>{{title}}</p>
  <p>
{{copyright}}</p>
</footer>
</template>
<script>

import {bus} from '../main';

export default{
  props:['title'],
  data() {
    return {
      copyright: 'Copyright 2017 Vue Ninjas'
    }
  },
  created() {
    bus.$on('titleChanged', (data) => {
      this.title = data;
    });
  },
}
</script>


<style scoped>
footer{
  background: #222;
  padding:6px;
}

p{
  color: lightgreen;
  text-align: center;
}
</style>
