<template>
  <header>
    <nav>
      <router-link to="/" exact>Show Blogs</router-link>
      <router-link to="/add" exact>Add Blog</router-link>
    </nav>
  </header>
</template>
<script>

</script>

<style scoped>
ul{
  list-style-type: none;
  text-align: center;
  margin: 0;
}
li{
  display: inline-block;
  margin: 0 10px;
}
a{
  color: #fff;
  text-decoration: none;
  padding: 6px 8px;
  border-radius: 10px;
}
nav{
  background: #444;
  padding: 14px 0;
}
.router-link-active{
  background: #eee;
  color: #444;
}
</style>
