<template>
<div id="show-blogs">
  <h1>All Posts</h1>


<input type="text" v-model="search" />

<div id="single-block" v-for="blog in filteredBlogs" :key="blog" v-theme="'wide'">
  <router-link :to="'/posts/'+blog.id">  <h1 v-rainbow>{{ blog.title | to-uppercase }}</h1>
</router-link>
  <p>{{ blog.content | snippet}}</p>
</div>

</div>
</template>

<script>
export default{
data() {
  return {
    search: '',
    blogs: [],
    link: 'https://jsonplaceholder.typicode.com/posts',
    firebaseLink: 'https://vue-first-64231-default-rtdb.asia-southeast1.firebasedatabase.app/posts.json'

  }
},
methods: {
  // getPosts(){
  //   this.$http.get(this.link).then((data) => {
  //     this.blogs = data.body.slice(0, 10);
  //   });
  // }
  getPosts(){
    this.$http.get(this.firebaseLink).then(data => {
      return data.json();
    }).then(data => {
      var blogsArray = [];
      for(let key in data){
        data[key].id = key;
        blogsArray.push(data[key]);
      }
      this.blogs = blogsArray;
    });
  }
},
created() {
  this.getPosts();
},
computed: {
  filteredBlogs(){
    return this.blogs.filter((blog) => {
      return blog.title.match(this.search);
    });
  }
}

}

</script>
<style scoped>
 #show-blogs{
   margin: auto 20px;
 }
 #single-block{
   border: 1px solid dotted;
   padding: 10px;
   background: #eee;
   margin: 10px;
 }
</style>
