<template>
<div id="single-blog">
  <h1>{{blog.title}}</h1>
  <p>{{blog.content}}</p>

  <ul>
    <li v-for="category in blog.categories" :key="category">
      {{category}}
  </li>
  </ul>

</div>
</template>
<script>
export default{
  data() {
    return {
      id: this.$route.params.id,
      blog: {},
      link: 'https://jsonplaceholder.typicode.com/posts',
      firebaseLink: 'https://vue-first-64231-default-rtdb.asia-southeast1.firebasedatabase.app/posts'

    }
  },
  created(){
    this.$http.get(this.firebaseLink+"/"+this.id+".json").then((data) => {
      console.log('her in the right place');
      return data.json();
    }).then((data) => {
      this.blog = data;
    });
  }
}

</script>

<style scoped>
  #single-blog{
    max-width: 960px;
    margin: 0 auto;
  }
</style>
