<template>
  <div id="app">
    <app-header></app-header>
    <router-view></router-view>
  </div>
</template>

<script>
import AddBlog from './components/AddBlog.vue';
import ShowBlogs from './components/ShowBlogs.vue';
import Header from './components/Header.vue';

export default{
  components:{
    'app-header': Header,
    'add-blog': AddBlog,
    'show-blogs': ShowBlogs
  },
  data() {
    return {

    }
  },
}
</script>

<style>
body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

</style>
