<template>

<div id="#ninjas">
 <ul>
   <li v-for="ninja in myNinjas" @click="ninja.show  = !ninja.show" :key="ninja.name">
     <h2>{{ninja.name}}</h2>
     <h3 v-show="ninja.show">{{ninja.specialty}}</h3>
   </li>
 </ul>

 <button @click="AddNinja()">Add Ninja</button>
  <div>
    <slot name="test1"></slot>
  </div>
</div>

</template>
<script>
export default {
  props: {
    ninjas: {
      type: Array,
      required: true
    }
  },
  data(){
    return{
      myNinjas: this.ninjas.slice()
    }
  },
  methods: {
    AddNinja(){
      console.log("adding ninja");
      this.$emit('addNinja','some data');
    }
  },
}
</script>
<style scoped>
#ninjas{
  width:100%;
  max-width: 1200px;
  margin:40px auto;
}

ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

li{
  flex-grow: 1;
  text-align: center;
  border: 1px solid #222;
}



</style>
